.s-tasks {
    color: blue;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .s-h2 {
    font-family: monospace;
    color: white;
    text-align: center;
  }
  
  .delete {
    background-color: rgba(17, 94, 228, 0.654);
    color: white;
  }
  
  .edit {
    background-color: rgba(17, 94, 228, 0.654);
    color: white;
  }
  
  .edit:hover,
  .delete:hover {
    background-color: blue;
  }
  
  form {
    margin-top: 30px;
  }
  
  h2 {
    padding-top: 10px;
  }
  
/* alex's style */
.a-line-through {
  text-decoration: line-through;
}
.a-task-input{
  border: none;
  background-color: var(--bs-list-group-bg);
}